[Desktop Entry]
Name="Background auto changer"
Type=Application
NoDisplay=true
Exec=/home/estevao/.deamons/wallpaperd 10m
Terminal=false
X-GNOME-Autostart-enabled=true

