[Desktop Entry]
Name="Remember to plug in the battery charger"
Type=Application
NoDisplay=true
Exec=/home/estevao/.deamons/batteryd
Terminal=false
X-GNOME-Autostart-enabled=true

