[Desktop Entry]
Name="Theme auto changer"
Type=Application
NoDisplay=true
Exec=/home/$USER/.deamons/themed 18 30
Terminal=false
X-GNOME-Autostart-enabled=true

