[Desktop Entry]
Name="Theme auto changer"
Type=Application
NoDisplay=true
Exec=/home/$USER/.deamons/themed 19:30 5:00
Terminal=false
X-GNOME-Autostart-enabled=true

